Repository sharetribe/dev-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

Landing page redesign (#41)
  app/components/Center/Center.js
  app/components/CustomCards/CustomCards.js
  app/components/RoundedLinkButton/RoundedLinkButton.js
  app/components/StyledHeader/StyledHeader.js
  app/components/StyledHeaders/MainHeader.js
  app/fonts/CircularXXWeb-Book.woff2
  app/fonts/CircularXXWeb-Medium.woff2
  app/global.css
  app/layout.jsx
  content/assets/ArrowRight.svg
  content/assets/ArrowsLeftRight.svg
  content/assets/Download.svg
  content/assets/GitFork.svg
  content/assets/UserCirclePlus.svg
  content/community-contributions/index.mdx
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed broken community contributions link, renamed tuturials → turorial and added entry to styleguide evaluation
  content/index.mdx
Due: prettier --print-width=72 --write

Fix to open non-dev docs links in new window
  app/components/CustomCards/CustomCards.js
Due: prettier --write

Add missing prop to tutorial code example
  content/tutorial/favorite-bikes/index.mdx
Due: prettier --print-width=72 --write

Fix to open non-dev docs links in new window (#43)
  app/components/CustomCards/CustomCards.js
Due: prettier --write

Added david's contribution to the community page
  public/resources/community-contributions.json
Due: none

Added david's contribution to the community page (#45)
  public/resources/community-contributions.json
Due: none

Add first version of kapa widget
  app/layout.jsx
Due: prettier --write

Removed flex reference in contribution title and description
  public/resources/community-contributions.json
Due: none

Removed flex reference in contribution title and description (#47)
  public/resources/community-contributions.json
Due: none

Add tracking consent params to kapa widget
  app/layout.jsx
Due: prettier --write

Add information to the Sitemap doc
  content/template/analytics/sitemap-in-template/index.mdx
Due: prettier --print-width=72 --write

Add information on how to manually add a review in Console
  content/concepts/transactions/reviews/index.mdx
Due: prettier --print-width=72 --write

add ai CTA in topbar
  app/components/AskAIButton.js
  app/global.css
  app/layout.jsx
Due: prettier --write

Update documentation to include information about transaction fields
  content/concepts/extended-data/transaction-extended-data/index.mdx
  content/how-to/index.mdx
  content/how-to/transaction-process/_meta.js
  content/how-to/transaction-process/add-transaction-fields/index.mdx
Due: prettier --print-width=72 --write

Update documentation based on Kapa findings
  content/concepts/development/sharetribe-environments/index.mdx
  content/concepts/payments/payment-methods-overview/index.mdx
  content/how-to/emails-and-notifications/set-up-outgoing-email-settings/index.mdx
Due: prettier --print-width=72 --write

small updates to docs re: featured listings
  content/how-to/content-management/options-prop/index.mdx
  content/how-to/users-and-authentication/enable-open-id-connect-login/index.mdx
  content/template/performance/how-to-improve-performance/index.mdx
Due: prettier --print-width=72 --write

Update Template release version number
  content/concepts/extended-data/transaction-extended-data/index.mdx
Due: prettier --print-width=72 --write

Add callout import
  content/concepts/extended-data/transaction-extended-data/index.mdx
Due: prettier --print-width=72 --write

Update time expressions list and mention upgrading CLI when validating a process
  content/concepts/development/edn/index.mdx
  content/how-to/transaction-process/edit-transaction-process-with-sharetribe-cli/index.mdx
  content/references/transaction-process-time-expressions/index.mdx
Due: prettier --print-width=72 --write

Fix formatting
  content/concepts/extended-data/transaction-extended-data/index.mdx
  content/concepts/transactions/reviews/index.mdx
  content/template/analytics/sitemap-in-template/index.mdx
Due: prettier --print-width=72 --write

Explicate that default search schema applies to all entity types
  content/how-to/search/manage-search-schemas-with-sharetribe-cli/index.mdx
Due: prettier --print-width=72 --write

Explicate transaction process loop behavior
  content/concepts/transactions/transaction-process/index.mdx
Due: prettier --print-width=72 --write

Mention a single payment per transaction in payments overview
  content/concepts/payments/payments-overview/index.mdx
Due: prettier --print-width=72 --write

Simplify ListingCard link for maintainability
  content/template/performance/how-to-improve-performance/index.mdx
Due: prettier --print-width=72 --write

Add email verification documentation
  content/concepts/users-and-authentication/email-verification/index.mdx
Due: prettier --print-width=72 --write

Reorder users and authentication articles in navigation
  content/concepts/index.mdx
  content/concepts/users-and-authentication/_meta.js
Due: prettier --print-width=72 --write

Added index and relevance info about listing types with disabled descriptions
  content/concepts/listings/how-the-listing-search-works/index.mdx
  content/how-to/search/change-search-filters-in-template/index.mdx
Due: prettier --print-width=72 --write

Update email verification article for clarity and content
  content/concepts/users-and-authentication/email-verification/index.mdx
Due: prettier --print-width=72 --write

Update Design files page to remove Sketch and update Figma
  content/introduction/design-files/index.mdx
  content/introduction/design-files/template-figma.png
  content/introduction/design-files/template-sketch.png
Due: prettier --print-width=72 --write

Fix a typo
  content/template/configuration/template-env/index.mdx
Due: prettier --print-width=72 --write

Add updates based on kapa.ai answers
  content/concepts/messages-notifications/messages/index.mdx
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

Update mentions of CRA after eject
  content/introduction/development-skills/index.mdx
  content/template/configuration/template-env/index.mdx
  content/template/introduction/sharetribe-web-template/index.mdx
Due: prettier --print-width=72 --write

add a copy button to docs
  app/[[...mdxPath]]/page.jsx
  content/community-contributions/index.mdx
  content/concepts/index.mdx
  content/how-to/index.mdx
  content/references/index.mdx
  content/template/index.mdx
  yarn.lock
Due: prettier --write, prettier --print-width=72 --write

add MCP support
  app/layout.jsx
Due: prettier --write

fix issue with kapa widget
  app/components/KapaWidget.js
  app/layout.jsx
Due: prettier --write

Modified sort configuration variables content to reflect new hosted sorting configs feature
  content/introduction/design-files/index.mdx
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

mention metadata can be indexed for keyword search
  content/concepts/listings/how-the-listing-search-works/index.mdx
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

change indexForSearch to showFilter
  content/how-to/listings/extend-listing-data-in-template/index.mdx
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: ((((((any of: app/**/*.js) or (any of: app/**/*.css)) or (any of: app/**/*.jsx)) or (any of: next.config.mjs)) or (any of: postcss.config.mjs)) or (any of: next-sitemap.config.js)) or (any of: mdx-components.js)
  prettier --print-width=72 --write: any of: content/**/*.mdx
