Repository sharetribe/dev-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
  "app/**/*.js": ["prettier --write"],
  "app/**/*.css": ["prettier --write"],
  "app/**/*.jsx": ["prettier --write"],
  "next.config.mjs": ["prettier --write"],
  "postcss.config.mjs": ["prettier --write"],
  "next-sitemap.config.js": ["prettier --write"],
  "mdx-components.js": ["prettier --write"],
  "content/**/*.mdx": ["prettier --print-width=72 --write"]
}

Added book and medium fonts for 450/500 weight
  app/fonts/CircularXXWeb-Book.woff2
  app/fonts/CircularXXWeb-Medium.woff2
  app/layout.jsx
Due: prettier --write

Added hover and ease-out on cards
  app/components/CustomCards/CustomCards.js
Due: prettier --write

wrap body content in plausible provider
  app/layout.jsx
Due: prettier --write

Add missing prop to tutorial code example
  content/tutorial/favorite-bikes/index.mdx
Due: prettier --print-width=72 --write

Created RoundedLinkButton component
  app/components/RoundedLinkButton/RoundedLinkButton.js
Due: prettier --write

Created Center component
  app/components/Center/Center.js
Due: prettier --write

Expanded StyledHeader to include the main and section headers for landing page
  app/components/StyledHeader/StyledHeader.js
  app/components/StyledHeaders/StyledHeaders.js
Due: prettier --write

Added new icons for landing page
  content/assets/ArrowRight.png
  content/assets/ArrowsLeftRight.png
  content/assets/Download.png
  content/assets/GitFork.png
  content/assets/UserCirclePlus.png
Due: none

Modified CustomCards to instead have CustomCardColumn and CustomCardGrid, updated landing page card for variants
  app/components/CustomCards/CustomCards.js
  content/community-contributions/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Reworked landing page
  content/index.mdx
Due: prettier --print-width=72 --write

Replaced PNGs with SVGs
  app/components/CustomCards/CustomCards.js
  content/assets/ArrowRight.png
  content/assets/ArrowRight.svg
  content/assets/ArrowsLeftRight.png
  content/assets/ArrowsLeftRight.svg
  content/assets/Download.png
  content/assets/Download.svg
  content/assets/GitFork.png
  content/assets/GitFork.svg
  content/assets/UserCirclePlus.png
  content/assets/UserCirclePlus.svg
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed text colouring
  app/components/CustomCards/CustomCards.js
  app/components/StyledHeaders/StyledHeaders.js
  app/global.css
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed letter spacing
  app/components/CustomCards/CustomCards.js
  app/components/StyledHeaders/StyledHeaders.js
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed font sizes
  app/components/CustomCards/CustomCards.js
  app/components/StyledHeaders/StyledHeaders.js
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed container margin/paddings
  app/components/CustomCards/CustomCards.js
  app/components/RoundedLinkButton/RoundedLinkButton.js
  app/components/StyledHeaders/StyledHeaders.js
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Moved SectionHeader to be part of the CustomCard components, renamed StyledHeaders → MainHeader
  app/components/CustomCards/CustomCards.js
  app/components/StyledHeaders/MainHeader.js
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Made shared styles for landing card titles and descriptions
  app/components/CustomCards/CustomCards.js
Due: prettier --write

add link to concat reference in marketplace texts article
  content/concepts/content-management/marketplace-texts/index.mdx
Due: prettier --print-width=72 --write

Fixed 'Create an account' link
  content/index.mdx
Due: prettier --print-width=72 --write

Removed LandingPageCard and CustomCardGrid className param as they're not used any longer
  app/components/CustomCards/CustomCards.js
Due: prettier --write

Added alt text to icons
  app/components/CustomCards/CustomCards.js
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed top/bottom margins
  app/components/CustomCards/CustomCards.js
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Typo fixes and copy changes
  content/index.mdx
Due: prettier --print-width=72 --write
