Repository sharetribe/dev-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
  "app/**/*.js": ["prettier --write"],
  "app/**/*.css": ["prettier --write"],
  "app/**/*.jsx": ["prettier --write"],
  "next.config.mjs": ["prettier --write"],
  "postcss.config.mjs": ["prettier --write"],
  "next-sitemap.config.js": ["prettier --write"],
  "mdx-components.js": ["prettier --write"],
  "content/**/*.mdx": ["prettier --print-width=72 --write"]
}

Apply fixes from review
  content/how-to/payments/payment-request-button/google-pay-prb.png
  content/how-to/payments/payment-request-button/index.mdx
Due: prettier --print-width=72 --write

Add payment request button article (#78)
  content/how-to/payments/payment-request-button/google-pay-prb.png
  content/how-to/payments/payment-request-button/index.mdx
Due: prettier --print-width=72 --write

add mention that you can use a dev to live workflow
  content/concepts/development/sharetribe-environments/index.mdx
Due: prettier --print-width=72 --write

fix wording
  content/concepts/development/sharetribe-environments/index.mdx
Due: prettier --print-width=72 --write

Add mention to onBehalfOf to payment request button article
  content/how-to/payments/payment-request-button/index.mdx
Due: prettier --print-width=72 --write

Add mention to onBehalfOf to payment request button article (#83)
  content/how-to/payments/payment-request-button/index.mdx
Due: prettier --print-width=72 --write

Updating logos for pride month
  app/components/PrideLogo.js
  app/icon.png
  app/layout.jsx
  app/sharetribe-icon.png
Due: prettier --write

PrideLogo: Fixed to say 'Dev docs' instead of 'Sharetribe'
  app/components/PrideLogo.js
Due: prettier --write

layout.jsx: Removed commented-out code
  app/layout.jsx
Due: prettier --write

README: Added instructions for enabling/reverting the logos
  README.md
Due: none

Updating logos for pride month (#84)
  README.md
  app/components/PrideLogo.js
  app/icon.png
  app/layout.jsx
  app/sharetribe-icon.png
Due: prettier --write

Update files related API reference links
  content/concepts/files/files-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
Due: prettier --print-width=72 --write

Update files related API reference links (#85)
  content/concepts/files/files-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
Due: prettier --print-width=72 --write

Updating specific file references to correct wording and code snippets
  content/how-to/payments/payment-request-button/index.mdx
  content/how-to/payments/removing-stripe-and-payments/index.mdx
  content/template/analytics/how-to-set-up-analytics-for-template/index.mdx
  content/template/content-management/how-to-change-template-language/index.mdx
  content/template/content-management/page-builder/index.mdx
Due: prettier --print-width=72 --write

Updating specific file references to correct wording and code snippets (#86)
  content/how-to/payments/payment-request-button/index.mdx
  content/how-to/payments/removing-stripe-and-payments/index.mdx
  content/template/analytics/how-to-set-up-analytics-for-template/index.mdx
  content/template/content-management/how-to-change-template-language/index.mdx
  content/template/content-management/page-builder/index.mdx
Due: prettier --print-width=72 --write

Add 'Build with AI' page and MCP installation instructions
  content/introduction/_meta.js
  content/introduction/build-with-ai/docs-use-mcp.png
  content/introduction/build-with-ai/index.mdx
Due: prettier --print-width=72 --write

Apply review fixes
  content/introduction/build-with-ai/index.mdx
Due: prettier --print-width=72 --write

Add 'Build with AI' page and MCP installation instructions (#87)
  content/introduction/_meta.js
  content/introduction/build-with-ai/docs-use-mcp.png
  content/introduction/build-with-ai/index.mdx
Due: prettier --print-width=72 --write

Start adding documentation updates for listing protected files
  content/references/digital-files/index.mdx
  content/references/transaction-process-actions/index.mdx
Due: prettier --print-width=72 --write

Add link to Help Center article
  content/concepts/users-and-authentication/referral-links/index.mdx
Due: prettier --print-width=72 --write

Update default-download process to transaction process lists
  content/concepts/messages-notifications/messages/index.mdx
  content/how-to/payments/removing-stripe-and-payments/index.mdx
  content/how-to/transaction-process/add-transaction-fields/index.mdx
  content/how-to/transaction-process/change-transaction-process-in-template/index.mdx
  content/template/payments/save-payment-card/index.mdx
  content/tutorial/create-transaction-process/index.mdx
Due: prettier --print-width=72 --write

Update to default logo
  app/icon.png
  app/layout.jsx
  app/pride-icon.png
  app/sharetribe-icon.png
Due: prettier --write

Revert Pride logo
  README.md
  app/icon.png
  app/layout.jsx
  app/pride-icon.png
  app/sharetribe-icon.png
Due: prettier --write

add idp updates
  content/how-to/users-and-authentication/enable-open-id-connect-login/index.mdx
Due: prettier --print-width=72 --write

add missing code examples
  content/how-to/payments/removing-stripe-and-payments/index.mdx
  content/how-to/transaction-process/change-transaction-process-in-template/index.mdx
  content/tutorial/create-transaction-process/index.mdx
  content/tutorial/new-wizard-tab/index.mdx
Due: prettier --print-width=72 --write

Update number of transaction processes available
  content/how-to/transaction-process/change-transaction-process-in-template/index.mdx
Due: prettier --print-width=72 --write

Lightbulb icon: Updated colour to match other homepage icons
  content/assets/Lightbulb.svg
Due: none

Lightbulb icon: Updated colour to match other homepage icons (#92)
  content/assets/Lightbulb.svg
Due: none

Replaced Dev Slack links/texts with community references
  app/components/CommunityIcon.js
  app/layout.jsx
  content/community-contributions/index.mdx
  content/index.mdx
  content/introduction/development-skills/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Fixed icon colouring
  app/components/CommunityIcon.js
Due: prettier --write

Replaced Dev Slack links/texts with community references (#93)
  app/components/CommunityIcon.js
  app/layout.jsx
  content/community-contributions/index.mdx
  content/index.mdx
  content/introduction/development-skills/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Updated language related docs based on recent template release
  content/template/content-management/how-to-change-template-language/index.mdx
Due: prettier --print-width=72 --write

Fixed issues with community icon
  app/components/CommunityIcon.js
Due: prettier --write

Update events reference
  content/references/events/index.mdx
Due: prettier --print-width=72 --write

Add missing periods
  content/references/events/index.mdx
Due: prettier --print-width=72 --write

Remove unnecessary colons
  content/references/events/index.mdx
Due: prettier --print-width=72 --write

Added paragraph about image reordering
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

Add small fixes to documentation
  content/concepts/listings/how-the-listing-search-works/index.mdx
  content/concepts/listings/listings-overview/index.mdx
  content/concepts/transactions/transaction-process/index.mdx
Due: prettier --print-width=72 --write

Add Antigravity MCP instructions
  content/introduction/build-with-ai/index.mdx
Due: prettier --print-width=72 --write

Small kapa fixes (#96)
  content/concepts/listings/how-the-listing-search-works/index.mdx
  content/concepts/listings/listings-overview/index.mdx
  content/concepts/transactions/transaction-process/index.mdx
  content/introduction/build-with-ai/index.mdx
Due: prettier --print-width=72 --write
