Repository sharetribe/dev-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

Fix Kapa header button colors
  app/components/KapaWidget.js
Due: prettier --write

Rename community contributions title and references
  app/components/CustomCards/CustomCards.js
  content/_meta.js
  content/developer-contributions/_meta.js
  content/developer-contributions/index.mdx
  content/index.mdx
  public/resources/developer-contributions.json
Due: prettier --write, prettier --print-width=72 --write

Rename community contributions title and references (#97)
  app/components/CustomCards/CustomCards.js
  content/_meta.js
  content/developer-contributions/_meta.js
  content/developer-contributions/index.mdx
  content/index.mdx
  public/resources/developer-contributions.json
Due: prettier --write, prettier --print-width=72 --write

Fix Kapa header button colors (#98)
  app/components/KapaWidget.js
Due: prettier --write

Add review rating to tx email context
  content/references/email-templates/index.mdx
Due: prettier --print-width=72 --write

Update sample email template context
  public/resources/sample-template-context.json
Due: none

Add update-protected-files to tx process action reference
  content/references/transaction-process-actions/index.mdx
Due: prettier --print-width=72 --write

Added references to update-protected-files action in file-related docs
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
Due: prettier --print-width=72 --write

add redirect to community contributons
  vercel.json
Due: none

Update Auth0 SSO note
  content/how-to/users-and-authentication/enable-open-id-connect-login/index.mdx
Due: prettier --print-width=72 --write

Update Auth0 SSO note (#102)
  content/how-to/users-and-authentication/enable-open-id-connect-login/index.mdx
Due: prettier --print-width=72 --write

Messages: Fixed type
  content/concepts/messages-notifications/messages/index.mdx
Due: prettier --print-width=72 --write

Messages: Fixed type (#103)
  content/concepts/messages-notifications/messages/index.mdx
Due: prettier --print-width=72 --write

CustomCards: Replaced h1 with h2
  app/components/CustomCards/CustomCards.js
Due: prettier --write

CustomCards: Replaced h1 with h2 (#104)
  app/components/CustomCards/CustomCards.js
Due: prettier --write

add first version of pricing documentation
  app/components/CustomCards/CustomCards.js
  content/introduction/_meta.js
  content/introduction/pricing/index.mdx
  content/references/api-credit-usage/index.mdx
Due: prettier --write, prettier --print-width=72 --write

additions to pricing doc
  content/introduction/pricing/index.mdx
Due: prettier --print-width=72 --write

add GB callout and remove mention of extend plan
  content/introduction/_meta.js
  content/introduction/introduction-to-customizing/index.mdx
  content/introduction/pricing/index.mdx
Due: prettier --print-width=72 --write

Add a note on trusted client ids for SSO
  content/concepts/users-and-authentication/social-logins-and-sso/index.mdx
Due: prettier --print-width=72 --write

update pricing redirect info
  content/introduction/pricing/index.mdx
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: ((((((any of: app/**/*.js) or (any of: app/**/*.css)) or (any of: app/**/*.jsx)) or (any of: next.config.mjs)) or (any of: postcss.config.mjs)) or (any of: next-sitemap.config.js)) or (any of: mdx-components.js)
  prettier --print-width=72 --write: any of: content/**/*.mdx
