Repository sharetribe/dev-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
  "app/**/*.js": ["prettier --write"],
  "app/**/*.css": ["prettier --write"],
  "app/**/*.jsx": ["prettier --write"],
  "next.config.mjs": ["prettier --write"],
  "postcss.config.mjs": ["prettier --write"],
  "next-sitemap.config.js": ["prettier --write"],
  "mdx-components.js": ["prettier --write"],
  "content/**/*.mdx": ["prettier --print-width=72 --write"]
}

Add clarifications based on kapa questions
  content/concepts/development/edn/index.mdx
  content/template/configuration/template-env/index.mdx
Due: prettier --print-width=72 --write

Add updates based on kapa.ai answers
  content/concepts/messages-notifications/messages/index.mdx
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

Update wordings
  content/introduction/development-skills/index.mdx
  content/template/configuration/template-env/index.mdx
  content/template/introduction/sharetribe-web-template/index.mdx
Due: prettier --print-width=72 --write

Landing page redesign follow-up changes
  app/components/AskAIButton.js
  app/global.css
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Landing page redesign follow-up changes
  app/components/AskAIButton.js
  app/components/AskAIButtonHero.js
  app/global.css
  content/assets/Lightbulb.svg
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Landing page redesign follow-up changes (#68)
  app/components/AskAIButton.js
  app/components/AskAIButtonHero.js
  app/global.css
  content/assets/Lightbulb.svg
  content/index.mdx
Due: prettier --write, prettier --print-width=72 --write

Updates to mention the new shortText schema type along side others
  content/concepts/listings/how-the-listing-search-works/index.mdx
  content/how-to/listings/extend-listing-data-in-template/index.mdx
  content/how-to/transaction-process/add-transaction-fields/index.mdx
  content/how-to/users-and-authentication/extend-user-data-in-template/index.mdx
  content/template/configuration/variables/index.mdx
Due: prettier --print-width=72 --write

Mention 403 on privileged transitions
  content/concepts/transactions/privileged-transitions/index.mdx
Due: prettier --print-width=72 --write

add callout explaining transition name uniqueness
  content/how-to/transaction-process/change-transaction-process-in-template/index.mdx
Due: prettier --print-width=72 --write

Production deployment: mention yarn install and dev dependencies
  content/template/hosting/how-to-deploy-template-to-production/index.mdx
  content/template/hosting/how-to-deploy-template-to-production/render.com-build-command.png
Due: prettier --print-width=72 --write

Update docs to correspond to refactored containers
  .gitignore
  content/concepts/payments/off-session-payments-in-transaction-process/index.mdx
  content/how-to/users-and-authentication/enable-open-id-connect-login/index.mdx
  content/how-to/users-and-authentication/setup-open-id-connect-proxy/index.mdx
  content/template/testing/how-to-test-template/index.mdx
  content/tutorial/customize-pricing/index.mdx
  content/tutorial/favorite-bikes/index.mdx
  public/tutorial-assets/FavoriteListingsPage.js
Due: prettier --print-width=72 --write

Add Render build command and node_version to tutorial
  content/template/hosting/how-to-deploy-template-to-production/index.mdx
  content/tutorial/deploy-to-render/index.mdx
  content/tutorial/deploy-to-render/render-build-command-tutorial.png
  content/tutorial/deploy-to-render/render-env-variable-node-version.png
Due: prettier --print-width=72 --write

add info on integration api email verification
  content/concepts/users-and-authentication/email-verification/index.mdx
  content/how-to/emails-and-notifications/set-up-outgoing-email-settings/index.mdx
Due: prettier --print-width=72 --write

change h3 to h2
  content/how-to/emails-and-notifications/set-up-outgoing-email-settings/index.mdx
Due: prettier --print-width=72 --write

add mention of sendgrid account only being configurable in live env
  content/how-to/emails-and-notifications/set-up-outgoing-email-settings/index.mdx
Due: prettier --print-width=72 --write

KapaWidget: Moved widget to side view
  app/components/KapaWidget.js
Due: prettier --write

KapaWidget: Add URL detection that auto-opens the widget with a timeout
  app/components/KapaWidget.js
Due: prettier --write

KapaWidget: Added query params
  app/components/KapaWidget.js
Due: prettier --write

KapaWidget: Added support for dark mode
  app/components/KapaWidget.js
Due: prettier --write

Kapa side view (#75)
  app/components/KapaWidget.js
Due: prettier --write

Add first files documentation articles
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/index.mdx
Due: prettier --print-width=72 --write

availability-management: updated line numbers
  content/template/availability/availability-management/index.mdx
Due: prettier --print-width=72 --write

use-protected-data-in-emails: Added info about private data in use now during sign up
  content/tutorial/use-protected-data-in-emails/index.mdx
Due: prettier --print-width=72 --write

referral-links: New article describing how referral links work
  content/concepts/users-and-authentication/referral-links/index.mdx
Due: prettier --print-width=72 --write

Expand Files docs based on first round of comments
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/files-architecture.png
  content/concepts/files/files-in-sharetribe/index.mdx
  content/concepts/users-and-authentication/user-access-control-in-sharetribe/access_control_blank.png
  content/concepts/users-and-authentication/user-access-control-in-sharetribe/index.mdx
Due: prettier --print-width=72 --write

Organize Files articles
  content/concepts/files/_meta.js
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/index.mdx
Due: prettier --print-width=72 --write

Add payment request button article
  content/how-to/payments/payment-request-button/index.mdx
Due: prettier --print-width=72 --write

Added examples of console, link, and user type config structure
  content/concepts/users-and-authentication/referral-links/console-referral-link-example.png
  content/concepts/users-and-authentication/referral-links/index.mdx
Due: prettier --print-width=72 --write

Community contributions: Added n8n node
  public/resources/community-contributions.json
Due: none

Community contributions: Added n8n node (#79)
  public/resources/community-contributions.json
Due: none

Fix wordings and start adding Files reference
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
  content/references/index.mdx
Due: prettier --print-width=72 --write

include info on resetting sendgrid settings
  content/how-to/emails-and-notifications/set-up-outgoing-email-settings/index.mdx
Due: prettier --print-width=72 --write

Address review comments
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
Due: prettier --print-width=72 --write

Unify wording around Sharetribe storage
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
Due: prettier --print-width=72 --write

Add files documentation articles (#76)
  content/concepts/files/_meta.js
  content/concepts/files/file-lifecycle/index.mdx
  content/concepts/files/files-in-sharetribe/files-architecture.png
  content/concepts/files/files-in-sharetribe/index.mdx
  content/concepts/index.mdx
  content/concepts/users-and-authentication/user-access-control-in-sharetribe/access_control_blank.png
  content/concepts/users-and-authentication/user-access-control-in-sharetribe/index.mdx
  content/references/digital-files/index.mdx
  content/references/index.mdx
Due: prettier --print-width=72 --write

Remove incorrect documentation note
  content/concepts/files/file-lifecycle/index.mdx
Due: prettier --print-width=72 --write

Remove incorrect documentation note (#80)
  content/concepts/files/file-lifecycle/index.mdx
Due: prettier --print-width=72 --write

Update file and ownFile resources
  content/concepts/files/files-in-sharetribe/index.mdx
Due: prettier --print-width=72 --write

Fix capitalization in heading
  content/concepts/files/files-in-sharetribe/index.mdx
Due: prettier --print-width=72 --write

Remove mime type from file resource examples (#81)
  content/concepts/files/files-in-sharetribe/index.mdx
Due: prettier --print-width=72 --write
